/* // GIVEN I am taking a code quiz
// WHEN I click the start button
// THEN a timer starts and I am presented with a question
// WHEN I answer a question
// THEN I am presented with another question
// WHEN I answer a question incorrectly
// THEN time is subtracted from the clock
// WHEN all questions are answered or the timer reaches 0
// THEN the game is over
// WHEN the game is over
// THEN I can save my initials and my score */

body{
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#question-container, .container2 {
    /* display:none; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px;
    width: 400px;
    padding: 100px 50px;
}

.hide{
    display:none;
}

.hidefornow{
    display:none;
}

.start-class {
    /* display:none; */
    text-align: center;
}

.btnclass{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    font-size:16px;
    padding: 8px;
}

.nav-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    padding: 25px;
}

#start-btn, #submitscore-btn , #gobackbtn, #clearscores{
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

#start-btn:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.btn {
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.btn:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}




